In [6]:
import pandas as pd

df_aptitude = pd.read_csv('student_aptitude_data.csv')
df_combined = pd.read_csv('student_combined_data.csv')
df_performance = pd.read_csv('student_performance_data.csv')

In [7]:
df_aptitude.info()
df_combined.info()
df_performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      150 non-null    int64
 1   course_level    150 non-null    object
 2   aptitude_score  150 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   student_id         150 non-null    int64
 1   course_level       150 non-null    object
 2   performance_score  150 non-null    float64
 3   aptitude_score     150 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 4.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   student_id         150 non-null    int64
 1   course_level       150 non-null    object
 2   performance_score  150 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.6+ KB

In [11]:
df_aptitude['student_id'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150])